.movies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 0px;
    width: 80%;
    margin: 0 auto;
    a {
        text-decoration: none;
        // color: #0008fc;
        // text-transform: uppercase;
        // font-size: 12px;
        // text-align: center;
        // font-weight: 600;
        // margin-bottom: 10px;
    }
    .movie{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 45%;
        background-color: #fff;
        margin-bottom: 70px;
        font-weight: 300;
        padding: 20px;
        border-radius: 5px;
        color: #adaeb9;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 
            0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
        img{
            position: relative;
            max-width: 150px;
            width: 100%;
            top: -50px;
            margin-right: 65px;
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 
            0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        }
        &__title {
            font-weight: 300;
            margin: 0 auto;
            margin-bottom: 5px;
            font-size: 24px;
            color: #2c2c2c;
        }
        &__year {
            font-weight: 300;
            margin: 0 auto;
            font-size: 14px;
        }
        &__genres {
            list-style: none;
            padding: 0;
            margin: 5px 0;
            display: flex;
            flex-wrap: wrap;
            &-item {
                margin-right: 10px;
                font-size: 14px;
            }
            & :last-child {
                margin-right: 0;
            }
        }
        &__column {
            width: 80%;
        }
    }
}

